
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 2px solid black;
  padding : 0px;


}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}

#nav-list a {
  color: black;
  background-color: #EEEEEE;
  text-align: center;
	border-top: 2px solid black;
	border-left: : 1px solid black;
	border-right: 1px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a:hover {
  background: #AAAAAA;
}

#nav-list a span {
  font-size: 1.8em;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {

  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;


}



.navbar-brand h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#body-block {
 }

.row {

}


.separate {
background-color: #90EE90;
margin-bottom: 20px;

  padding: 3px;
}

.header1{
	margin-bottom: 30px;
	font-size: 280%;
}

/********** Large devices only **********/
  @media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

/* only this small display need to have the margin left and right */
.separate {
  margin:20px;

}

}

